*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.doc
*.dvi
*.fdb_latexmk
*.gdoc
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ini
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdf
*.pdfsync
*.ppt
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
